<div class="d-flex flex-column align-items-center mt-5 mb-5 p-3 pb-md-4 mx-auto text-center">
	<h1 class="display-4 fw-bold text-body-emphasis">Library Management System</h1>
	<p class="fs-5 text-body-secondary">Welcome to the Library Management System. Easily manage your library's books, authors, borrowers, and loans in one convenient platform. Streamline your library operations and keep everything organized with just a few clicks.</p>
</div>
	<hr class="col-12 col-md-12 mb-2">