<div class="container mt-5">

	<div class="d-flex flex-wrap justify-content-center gap-4">
			<div class="card text-center h-100" style="width: 13rem;">
				<div class="card-body d-flex flex-column">
					<i class="fa fa-user fa-3x text-primary mb-3"></i>
					<h5 class="card-title">Authors</h5>
					<p class="card-text flex-grow-1">Manage book authors</p>
					<a href="/authors" class="btn btn-primary mt-auto">View Authors</a>
				</div>
			</div>

			<div class="card text-center h-100" style="width: 13rem;">
				<div class="card-body d-flex flex-column">
					<i class="fa fa-book fa-3x text-success mb-3"></i>
					<h5 class="card-title">Books</h5>
					<p class="card-text flex-grow-1">Manage library books</p>
					<a href="/books" class="btn btn-success mt-auto">View Books</a>
				</div>
			</div>

			<div class="card text-center h-100" style="width: 13rem;">
				<div class="card-body d-flex flex-column">
					<i class="fa fa-users fa-3x text-info mb-3"></i>
					<h5 class="card-title">Borrowers</h5>
					<p class="card-text flex-grow-1">Manage borrowers</p>
					<a href="/borrowers" class="btn btn-info mt-auto">View Borrowers</a>
				</div>
			</div>

			<div class="card text-center h-100" style="width: 13rem;">
				<div class="card-body d-flex flex-column">
					<i class="fa fa-exchange fa-3x text-warning mb-3"></i>
					<h5 class="card-title">Loans</h5>
					<p class="card-text flex-grow-1">Manage book loans</p>
					<a href="/loans" class="btn btn-warning mt-auto">View Loans</a>
				</div>
			</div>
		</div>
	</div>
</div>